#navbar{
    background-color: black;
    color:black;
}
#nav-wrapper{
    text-align:center;
    background-color:blue;
}
.tabstabs-transparent{
    float:right;
}
.brand-logo{
    color:#ffffff;
}
#main{
    margin:100px;
    margin-left:-260px;
}

ul{
    margin:0px 100px 100px 0px;
}
.material-icons{
    width:90px;
}
h1{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color:white;


}
#trending{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-color:#F9A602;
    text-align:center;
}
#new {
    background-color: #563a64;
    grid-column: span 1.3;
    grid-row: span 1;
    color:white;
    font-family: 'Kaushan Script', cursive;
}
#popular {
    background-color: #563a64;
    grid-column: span 1.3;
    grid-row: span 1;
    color:white;
    font-family: 'Kaushan Script', cursive;

}
#all {
    background-color: #563a64;
    grid-column: span 1.3;
    grid-row: span 1;
    color:white;
    font-family: 'Kaushan Script', cursive;

}
.nav-extended{
    background:url("colors.jpg");
    background-repeat:no-repeat;
    height:50%;
}
p{
    margin-left:100px;
}
.item1{
    color:pink;
    font-family: 'Kaushan Script', cursive;

}
.item2{
    color:orange;
    font-family: 'Kaushan Script', cursive;

}
.item3{
    color:purple;
    font-family: 'Kaushan Script', cursive;

}
.item4{
    color:red;
    font-family: 'Kaushan Script', cursive;

}
.item5{
    color:green;
    font-family: 'Kaushan Script', cursive;

}
h3{
    text-align:center;
    font-family: 'Kaushan Script', cursive;
    color:white;

}
h2{
    text-align:center;
    font-family: 'Kaushan Script', cursive;
    color:white;

}
body{
    background-color:#F9A602;
}
#menu{
    margin-left:43%;

}
#grid1{
    background-color:#563a64;
    text-align:center;
    font-family: 'Kaushan Script', cursive;

}
#new1{
    max-width:25%;
}
video{
    width:50%;
}
